img.one{
    position: absolute;
    top: 100;
    left:0 ;
    left: 250 ;
    width: 100;
    height: 100;
}
img.two{
    position: absolute;
    top: 100;
    left: 200	;
    left: 600	;
    width: 100;
    height: 100;
}
img.three{
    position: absolute;
    top: 100;
    left: 800 ;
    width: 100;
    height: 100;
}
img.four{
    position: absolute;
    top: 100;
    left: 400 ;
    width: 100;
    height: 100;
}
img.five{
    position: absolute;
    top: 250;
    left:0 ;
    left: 250 ;
    width: 100;
    height: 100;
}
img.six{
    position: absolute;
    top: 250;
    left: 200	;
    left: 600	;
    width: 100;
    height: 100;
}
img.seven{
    position: absolute;
    top: 250;
    left: 800 ;
    width: 100;
    height: 100;
}
img.eight{
    position: absolute;
    top: 250;
    left: 400 ;
    width: 100;
    height: 100;
}
img.nine{
    position: absolute;
    top: 430;
    left:0 ;
    left: 250 ;
    width: 100;
    height: 100;
}
img.ten{
    position: absolute;
    top: 430;
    left: 200	;
    left: 600	;
    width: 100;
    height: 100;
}
img.eleven{
    position: absolute;
    top: 430;
    left: 800 ;
    width: 100;
    height: 100;
}
img.twelve{
    position: absolute;
    top: 430;
    left: 400 ;
    width: 100;
    height: 100;
}
	img.thirteen{
    position: absolute;
    top: 600;
    left: 400 ;
    width: 100;
    height: 100;
}
img.fourteen{
    position: absolute;
    top: 600;
    left:0 ;
    left: 250 ;
    width: 100;
    height: 100;
}
img.fifteen{
    position: absolute;
    top: 600;
    left: 200	;
    left: 600	;
    width: 100;
    height: 100;
}
img.sixteen{
    position: absolute;
    top: 600;
    left: 800 ;
    width: 100;
    height: 100;
}